* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --background-color: #191919;
    --text-color: #e6e6e6;
    --orange: #f27107;
    --blue: #2185d0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
}

a {
    position: relative;
    text-decoration: none;
    color: var(--blue);
}

a:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

a:hover::before {
    transform: scaleX(1);
}

#title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

#fetch-box {
    font-size: 1.5rem;
    font-weight: 500;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    outline: var(--orange) solid 5px;
    margin: 25px 0 25px 0;
}

#update-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}

#update-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#update-title-text {
    font-weight: 700;
    font-size: 1.5rem;
}

#update-date-relative {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 10px;
}

#update-content {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

/* BBCode styles */
#update-content b {
    font-weight: 700;
}

#update-content i {
    font-style: italic;
}

#update-content u {
    text-decoration: underline;
}

#update-content s {
    text-decoration: line-through;
}

#update-content code {
    font-family: 'Courier New', monospace;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px;
    border-radius: 5px;
}

#update-content pre {
    font-family: 'Courier New', monospace;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}

#update-content a {
    color: var(--blue);
}

#update-content a:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

#update-content a:hover::before {
    transform: scaleX(1);
}

#update-content img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#update-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

#update-content ol {
    list-style-type: decimal;
    margin-left: 20px;
}

#update-content li {
    margin-bottom: 5px;
}

#update-content blockquote {
    font-style: italic;
    border-left: 5px solid var(--blue);
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#update-content hr {
    border: none;
    border-top: 1px solid var(--blue);
    margin: 10px 0;
}

#update-content table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#update-content video {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

#nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

#nav-buttons button {
    background-color: var(--blue);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color .5s ease-out;
}

#nav-buttons button:disabled {
    background-color: var(--orange);
    cursor: not-allowed;
}

#nav-buttons button:not(:disabled):hover {
    background-color: var(--text-color);
}

#nav-buttons button img {
    width: 3.5rem;
    height: 2em;
    filter: invert(1);
    transition: filter .5s ease-out;
}

#nav-buttons button:disabled img {
    filter: none;
}

#nav-buttons button:hover img {
    filter: invert(0);
}

@keyframes loading-dot {
    0%, 20% {
        content: '';
    }
    40% {
        content: '.';
    }
    60% {
        content: '..';
    }
    80%, 100% {
        content: '...';
    }
}

.loading::after {
    content: '';
    font-weight: bold;
    animation: loading-dot 1.5s steps(1, end) infinite;
}

.hidden {
    display: none !important;
}

#repo-banner {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: var(--blue);
    color: var(--text-color);
    border-top-left-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    z-index: 1000;
}

#repo-banner a {
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
}

#repo-banner a img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
}

#repo-banner a:hover img {
    filter: invert(1);
}